.signin-container {

    padding: 1rem;

    .signin-banner {
        height  : 100%;
        width   : 50%;
        position: fixed;
        z-index : 1;
        top     : 0;
        left    : 0;
        overflow: hidden;
    }

    .signin-form {
        height    : 100%;
        width     : 50%;
        position  : fixed;
        z-index   : 1;
        top       : 0;
        right     : 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding   : 100px 50px 50px 50px;
    }

    img {
        max-width: 100%;
    }
}

.row {
    padding: 0 !important;
}

.password-eye {
    position: absolute;
    right   : 10px;
    top     : 35.5px;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    padding: 0 !important;
}