<div class="signup-container">
    <div class="signup-banner">
        <img src="/assets/img/signup-bg.jpg" alt="Signup Banner">
    </div>
    <div class="signup-form">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                <img style="width: 200px;" src="/assets/img/logo.svg" alt="Dreams Logo">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <p class="text-center fw-bold fs-2">SIGN UP</p>
            </div>
        </div>
        <form [formGroup]="signupForm">
            <div class="row form-group">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <label for="username" class="form-control-label fw-light-bold">Username</label>
                    <input type="text" class="form-control" placeholder="Enter your username"
                        formControlName="username">
                    <app-form-validator [label]="'Username'" [control]="getformControl('username')"
                        [value]="getformControl('username').value"></app-form-validator>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <label for="username" class="form-control-label fw-light-bold">Email</label>
                    <input type="text" class="form-control" placeholder="Enter your email" formControlName="email">
                    <app-form-validator [label]="'Email'" [control]="getformControl('email')"
                        [value]="getformControl('email').value"></app-form-validator>
                </div>
            </div>
            <div class="row form-group" style="position: relative;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <label for="username" class="form-control-label fw-light-bold">Password</label>
                    <input [type]="isShow ? 'text' : 'password'" class="form-control" placeholder="Enter your password"
                        formControlName="password">
                    <div class="password-eye">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                            'fa-eye-slash': !isShow,
                            'fa-eye': isShow
                        }" (click)="onToggleShowPassword()"></i>
                        </span>
                    </div>
                    <app-form-validator [label]="'Password'" [control]="getformControl('password')"
                        [value]="getformControl('password').value"></app-form-validator>
                </div>
            </div>
            <div class="row form-group" style="position: relative;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <label for="role" class="form-control-label fw-light-bold">You are a: </label>
                    <ng-select [items]="userRole" [clearable]="false" [searchable]="true" bindValue="value"
                        bindLabel="name" formControlName="role">
                    </ng-select>
                </div>
            </div>
            <div class="row form-group" style="position: relative;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <span [ngStyle]="{
                        'cursor': isInvalid ? 'not-allowed' : 'pointer' 
                    }">
                        <button class="btn style-btn" type="submit" style="width: 250px;" [ngStyle]="{
                            'pointer-events': isInvalid ? 'none' : 'auto' 
                        }" [disabled]="isInvalid" (click)="onSubmit()">Create Account</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>