<button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
    <span class="user-img">
        <img src="assets/img/user/user11.jpg" alt="">
        <span class="status online"></span>
    </span>
</button>
<mat-menu #menu="matMenu">
    <span>
        <button mat-menu-item><i class="feather-user me-1"></i> Profile</button>
        <button mat-menu-item><i class="feather-star me-1"></i> My courses</button>
        <button mat-menu-item><i class="feather-log-out me-1"></i> Logout</button>
    </span>
</mat-menu>